@use '../../styles/shared.scss' as *;

.NoFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; // Центрує по вертикалі
  width: 100%;

  img {
    width: 600px;
    max-width: 90%; // Адаптивність для менших екранів
    opacity: 0.9;
    animation: fadeIn 2s ease-in-out;
  }
}

// Анімація плавної появи
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}
