@use '../../styles/shared.scss' as *;
@use "sass:color";

.Header {
  display: flex;
  align-items: center; // 📌 Вирівнює всі елементи по висоті
  justify-content: space-between;
  padding: 12px 20px;
  background-color: $white;
  border-bottom: 1px solid $bg-color;
}
  
  .Header__button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  
    &:first-child {
      background-color: #6c757d;
      color: white;
    }
  
    &:last-child {
      background-color: #007bff;
      color: white;
    }
  
    &:hover {
      background-color: color.scale(#007bff, $lightness: -10%);
      transform: scale(1.05);
    }
  
    &:active {
      transform: scale(0.95);
    }
  }
  