@use '../../styles/shared.scss' as *;

.Sidebar {
    width: 250px; /* Фіксована ширина */
    height: 100vh; /* Повна висота екрану */
    background-color: #f8f9fa; /* Світло-сірий фон */
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }